#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem 5rem;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 22px;
}

* {
    /* outline: dashed 1px rebeccapurple; */
}
#root > div:nth-child(2) {
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

textarea {
    resize: none;
    display: block;
    width: 100%;
}

hr {
    width: 95%;
}

section {
    background-color: lightslategrey;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem;
    gap: 10px;
}

section ul li input,
section ul li {
    width: 100%;
}
