#root {
    max-width: 1280px;
    margin: 0 auto;
    /* padding: 15rem 25rem; */
    text-align: center;
}

* {
    /* outline: dashed darkblue; */
}

section {
    background-color: lightslategrey;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem;
    gap: 10px;
}

section ul li input,
section ul li {
    width: 100%;
}
