#root {
    width: 1280px;
    margin: 0 auto;
    padding: 2rem 5rem;
    padding-top: 4rem;
    text-align: center;
    display: grid;
    grid-template-columns: 45% 55%;
    gap: 22px;
}

* {
    /* outline: dashed 1px rebeccapurple; */
}

#root > div:nth-child(2) {
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fcfefe;
    color: #141010;
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
        'Courier New', monospace;
    box-shadow: rgb(223, 220, 220) 0px 2px 8px;
    height: 90vh;
    position: sticky;
    top: 10px;
}

textarea {
    resize: none;
    display: block;
    width: 100%;
}

hr {
    width: 95%;
}

div:has(section) {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
}

section {
    background-color: lightslategrey;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 0.8rem;
}

section > div:first-child > span {
    cursor: pointer;
}

section h2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

section > div:first-child * {
    font-size: 1.2rem;
}

section > div:nth-child(2) {
    padding: 0 8px;
}

section ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1.2rem 1rem;
    gap: 10px;
    border: solid 1.5px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
}

section ul li {
    width: 100%;
}

section ul li input,
section ul li textarea {
    width: 96%;
}

section ul li {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3px;
}

section ul li input,
section ul li textarea {
    padding: 6px;
    border-radius: 4px;
}

section ul button {
    align-self: flex-end;
    padding: 8px;
    font-size: x-small;
}

section ul button:hover {
    color: maroon;
}

section button:last-child {
    width: 160px;
    align-self: center;
}

div.react-datepicker__input-container input {
    width: 90%;
    float: left;
    cursor: pointer;
}
